<ion-content [fullscreen]="true">
  <header class="position-fixed bg-white w-100">
    <div class="container mt-3">
      <div>
        <p class="text-center colorGreen fw-bold">{{titulo}}</p>
      </div>
      <div id="x">
        <a class="text-dark" [routerLink]="['/tabs/tab3']"><ion-icon name="close" size="large"></ion-icon></a>
      </div>
    </div>
  </header>

  <article class="mt-5 mx-4">
    <br>
    <section id="termos" class="d-none">
      <div class="ion-text-justify mt-4 mx-3">
        <h2 class="colorGreen">Política de Privacidade</h2> 
        <p>A sua privacidade é importante para nós. É política do Retrash respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no app <span class="colorGreen fw-bold">Retrash</span>, e outros sites que possuímos e operamos.</p> 
        <p>Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.</p> 
        <p>Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.</p> 
        <p>Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p> 
        <p>O nosso app pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade.</p> 
        <p>Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.</p> 
        <p>O uso continuado de nosso app será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contato conosco.</p> 
        <h3 class="colorGreen">Compromisso do Usuário</h3> 
        <p>O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o Retrash oferece no app e com caráter enunciativo, mas não limitativo:</p> 
        <ul> 
          <li>A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</li> 
          <li>B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, ou casas de apostas online, jogos de sorte e azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;</li> 
          <li>C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do Retrash, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.</li> 
        </ul> 
        <h3 class="colorGreen">Mais informações</h3> 
        <p>Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso aplicativo.</p> 
        <p>Esta política é efetiva a partir de <strong>September</strong>/<strong>2021</strong>.</p>
      </div>
    </section>

    <section id="perguntas" class="d-none">
      <div>
        Perguntas
      </div>
    </section>

    <section id="sobre" class="d-none">
      <div>
        Sobre o app
      </div>
    </section>
  </article>

</ion-content>

